

body {
    background-color: #eaeaea;
}

.people {
    padding: 0;
    list-style: none;
}

.people li {
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.people li:last-child {
    border: 0;
}